graft src/flask_petclinic/static
graft src/flask_petclinic/templates
global-exclude *.pyc

include BACKLOG.md
include LICENSE.md
include requirements/*.txt
graft docs
graft src/tests
global-exclude *.pyc